## Content-Based Recommendation Model

In [56]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [13]:
df4 = pd.read_csv("data/Tickets_14Nov23_4pm.csv", encoding='ISO-8859-1', low_memory=False)
df4.head()

,ÿSalonID,TicketID,ClientID,SchDate,Referral,Total,Created_Date,Total_WithoutTax,printed,bomreferenceindex,TimeMark,RowNo,Status,Serviceslipno,servicedesc,BillStatus
0,907,1,JERRY9940060569,2013-08-27 00:00:00.000,Request,146.07,2013-08-27 00:00:00.000,130.0,0.0,NaN,2013-08-27 18:13:22.023,108263.0,i,1111111.0,HAIRCUT (GENTS),Closed
1,907,2,Saranya9884402095,2013-08-28 00:00:00.000,Request,477.53,2013-08-28 00:00:00.000,425.0,0.0,NaN,2013-08-28 10:52:27.833,108264.0,i,111112.0,"HAIRCUT LADIES ADVANCED(LAYER,MUSHROOM,WEDGE)/...",Closed
2,907,3,Lakshmi rajkumar9176222704,2013-08-28 00:00:00.000,Request,320.23,2013-08-28 00:00:00.000,285.0,0.0,NaN,2013-08-28 10:55:35.253,108265.0,i,111113.0,THREADING - EYEBROWS (LADIES)/MANICURE - FRENC...,Closed
3,907,4,Vaishali8056111666,2013-08-28 00:00:00.000,Request,56.18,2013-08-28 00:00:00.000,50.0,0.0,NaN,2013-08-28 10:57:18.620,108266.0,i,111114.0,THREADING - EYEBROWS (LADIES)/THREADING - UPPE...,Closed
4,907,5,Sudeep9381057770,2013-08-28 00:00:00.000,Request,95.51,2013-08-28 00:00:00.000,85.0,0.0,NaN,2013-08-28 10:58:54.560,108267.0,i,111115.0,KIDS CUT - BELOW 10 YEARS - WEEK DAYS (GENTS),Closed

In [18]:
len(df4)

142267

In [14]:
# Try to convert the 'column_name' to int64, handling errors
try:
    df4['TicketID'] = df4['TicketID'].astype('int64')
except ValueError:
    # Handle non-numeric values, for example, replacing them with NaN
    df4['TicketID'] = pd.to_numeric(df4['TicketID'], errors='coerce')

#print(df4.dtypes)

In [15]:
df3 = pd.read_csv("data/Ticket_Product_Details_14Nov23_4pm.csv", encoding='ISO-8859-1', low_memory=False)
df3.head()

,ÿSalonID,TicketID,ProdID,EmpID,Type,Descr,Qty,Tax,BackBar,Retail_Price,...,bomreference,TimeMark,RowNo,Status,Billformat,luxurytax,Studio_Status,Mem_Disc,Oth_Disc,Created_Date2
0,907,1,GHHCUTNR,9079999.0,S,HAIRCUT (GENTS),1.0,12.36,NaN,130.0,...,NaN,43:59.0,205478.0,U,D,0.0,N,0.0,0.0,00:00.0
1,907,2,LHHCUTAD,9079999.0,S,"HAIRCUT LADIES ADVANCED(LAYER,MUSHROOM,WEDGE)",1.0,12.36,NaN,400.0,...,NaN,43:59.0,205479.0,U,D,0.0,N,0.0,0.0,00:00.0
2,907,2,LSTHDGEB,9079999.0,S,THREADING - EYEBROWS (LADIES),1.0,12.36,NaN,25.0,...,NaN,43:59.0,205480.0,U,D,0.0,N,0.0,0.0,00:00.0
3,907,3,LBMANIFR,9079999.0,S,MANICURE - FRENCH (LADIES),1.0,12.36,NaN,260.0,...,NaN,43:59.0,205482.0,U,D,0.0,N,0.0,0.0,00:00.0
4,907,3,LSTHDGEB,9079999.0,S,THREADING - EYEBROWS (LADIES),1.0,12.36,NaN,25.0,...,NaN,43:59.0,205481.0,U,D,0.0,N,0.0,0.0,00:00.0

In [17]:
len(df3)

290856

In [26]:
client_services = pd.merge(df3, df4, on='TicketID', how='left')
client_services.head()

,ÿSalonID_x,TicketID,ProdID,EmpID,Type,Descr,Qty,Tax,BackBar,Retail_Price,...,Created_Date,Total_WithoutTax,printed,bomreferenceindex,TimeMark_y,RowNo_y,Status_y,Serviceslipno,servicedesc,BillStatus
0,907,1,GHHCUTNR,9079999.0,S,HAIRCUT (GENTS),1.0,12.36,NaN,130.0,...,2013-08-27 00:00:00.000,130.0,0.0,NaN,2013-08-27 18:13:22.023,108263.0,i,1111111.0,HAIRCUT (GENTS),Closed
1,907,2,LHHCUTAD,9079999.0,S,"HAIRCUT LADIES ADVANCED(LAYER,MUSHROOM,WEDGE)",1.0,12.36,NaN,400.0,...,2013-08-28 00:00:00.000,425.0,0.0,NaN,2013-08-28 10:52:27.833,108264.0,i,111112.0,"HAIRCUT LADIES ADVANCED(LAYER,MUSHROOM,WEDGE)/...",Closed
2,907,2,LSTHDGEB,9079999.0,S,THREADING - EYEBROWS (LADIES),1.0,12.36,NaN,25.0,...,2013-08-28 00:00:00.000,425.0,0.0,NaN,2013-08-28 10:52:27.833,108264.0,i,111112.0,"HAIRCUT LADIES ADVANCED(LAYER,MUSHROOM,WEDGE)/...",Closed
3,907,3,LBMANIFR,9079999.0,S,MANICURE - FRENCH (LADIES),1.0,12.36,NaN,260.0,...,2013-08-28 00:00:00.000,285.0,0.0,NaN,2013-08-28 10:55:35.253,108265.0,i,111113.0,THREADING - EYEBROWS (LADIES)/MANICURE - FRENC...,Closed
4,907,3,LSTHDGEB,9079999.0,S,THREADING - EYEBROWS (LADIES),1.0,12.36,NaN,25.0,...,2013-08-28 00:00:00.000,285.0,0.0,NaN,2013-08-28 10:55:35.253,108265.0,i,111113.0,THREADING - EYEBROWS (LADIES)/MANICURE - FRENC...,Closed

In [27]:
len(client_services)

290856

In [28]:
client_services['Frequency'] = client_services.groupby(['ClientID', 'Descr'])['ClientID'].transform('size')

# Reset index to make 'SalonID' a regular column
client_services.reset_index(inplace=True)

# Print the resulting DataFrame
client_services.head()

,index,ÿSalonID_x,TicketID,ProdID,EmpID,Type,Descr,Qty,Tax,BackBar,...,Total_WithoutTax,printed,bomreferenceindex,TimeMark_y,RowNo_y,Status_y,Serviceslipno,servicedesc,BillStatus,Frequency
0,0,907,1,GHHCUTNR,9079999.0,S,HAIRCUT (GENTS),1.0,12.36,NaN,...,130.0,0.0,NaN,2013-08-27 18:13:22.023,108263.0,i,1111111.0,HAIRCUT (GENTS),Closed,7
1,1,907,2,LHHCUTAD,9079999.0,S,"HAIRCUT LADIES ADVANCED(LAYER,MUSHROOM,WEDGE)",1.0,12.36,NaN,...,425.0,0.0,NaN,2013-08-28 10:52:27.833,108264.0,i,111112.0,"HAIRCUT LADIES ADVANCED(LAYER,MUSHROOM,WEDGE)/...",Closed,1
2,2,907,2,LSTHDGEB,9079999.0,S,THREADING - EYEBROWS (LADIES),1.0,12.36,NaN,...,425.0,0.0,NaN,2013-08-28 10:52:27.833,108264.0,i,111112.0,"HAIRCUT LADIES ADVANCED(LAYER,MUSHROOM,WEDGE)/...",Closed,11
3,3,907,3,LBMANIFR,9079999.0,S,MANICURE - FRENCH (LADIES),1.0,12.36,NaN,...,285.0,0.0,NaN,2013-08-28 10:55:35.253,108265.0,i,111113.0,THREADING - EYEBROWS (LADIES)/MANICURE - FRENC...,Closed,1
4,4,907,3,LSTHDGEB,9079999.0,S,THREADING - EYEBROWS (LADIES),1.0,12.36,NaN,...,285.0,0.0,NaN,2013-08-28 10:55:35.253,108265.0,i,111113.0,THREADING - EYEBROWS (LADIES)/MANICURE - FRENC...,Closed,12

In [33]:
len(client_services)

290856

In [34]:
client_services = client_services[client_services['Descr'] != '35']

In [37]:
client_services = client_services[client_services['Descr'] != '10']

In [40]:
client_services = client_services[client_services['Descr'] != '0']

In [47]:
len(client_services)

289036

In [48]:
client_services = client_services.drop_duplicates()

In [49]:
len(client_services)

145522

In [51]:
len(df4['ClientID'].unique())

26045

In [52]:
client_services = client_services[['ClientID', 'Descr', 'Frequency']]

In [53]:
client_services.sort_values(by='Frequency', ascending=False)

,ClientID,Descr,Frequency
24739,David9443508589,SHAVING,129
152338,David9443508589,SHAVE - (GENTS),119
1379,manikandan9940350565,SHAVING,96
152016,SANJIV7299912169,SHAVE - (GENTS),85
154318,M.Sridhar9841077753,SHAVE - (GENTS),77
...,...,...,...
106642,prasana9176133733,BACK AND NECK MASSAGE -25 MINS - (LADIES),1
106638,sethu9941568046,THREADING - EYEBROW - (LADIES),1
106637,sethu9941568046,SKIN LIGHTENING FACE CLEANUP (30 MINS) - (LA...,1
106636,sethu9941568046,PEDICURE - REGULAR - (LADIES),1
290855,vignesh9566176618,SKIN LIGHTENING FACE CLEANUP (30 MINS) - (GE...,1

In [54]:
pivot_df = client_services.pivot_table(index='ClientID', columns='Descr', values='Frequency', fill_value=0)
pivot_df

Descr,FLAVOURED WAXING UPPERLIP/CHIN /FOREHEAD - (LADIES),FLAVOURED WAXING FACE - SIDES - (LADIES),FOOT LOGIX PEDICURE - LUXURY - WOMEN,FOOT LOGIX PEDICURE - SIGNATURE - MEN,FOOT LOGIX PEDICURE - SIGNATURE - WOMEN,HAIR DO - CREATIVE - (LADIES),MAKEUP - SENIOR (GENTS),MAKEUP - (GENTS),SHAVE - (GENTS),100,...,WRINKLE TREATMENT LADIES ADVANCED,XTENSO CARE MASK,XTENSO CARE SERUM,XTENSO CARE SHAMPOO(SMALL),XTENSO CARE SHAMPOO-SMALL-LOR-250ML-SHAM,XTENSO CARE SULFATE FREE MASQUE 196 GM,XTENSO CARE SULFATE FREE SHAMPOO 250 ML,YOUTH RESTORE FACIAL - GENTS,YOUTH RESTORE FACIAL - LADIES,test001
ClientID,,,,,,,,,,,,,,,,,,,,,
..8220484146,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
.8393863665,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
.9894384197,0,0,0,0,0,0,0,0,4,0,...,0,0,0,0,0,0,0,0,0,0
.C Balachander9884886817,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,9,0,...,0,7,7,8,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ziaulhAQ9943699607,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zil7373165752,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
ztya9884450626,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zubair8220237654,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zzz9443679777,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# Calculate cosine similarity between customers
customer_similarity = cosine_similarity(pivot_df)

# Generate recommendations for each customer
recommendations = {}
for idx, customer in enumerate(pivot_df.index):
    similar_customers = sorted(list(enumerate(customer_similarity[idx])), key=lambda x: x[1], reverse=True)
    recommendations[customer] = []
    for similar_customer, similarity_score in similar_customers[1:]:  # Exclude the customer itself
        similar_products = pivot_df.columns[pivot_df.iloc[similar_customer] > 0].tolist()
        for product in similar_products:
            if pivot_df.loc[customer, product] == 0:  # Check if the customer hasn't bought the product yet
                recommendations[customer].append(product)

In [ ]:
# Print recommendations for each customer
for customer, recommended_products in recommendations.items():
    print(f"Customer {customer}: {recommended_products}")